<% content_for :title, "New page component" %>

<h1>New page component</h1>

<%= render "form", page_component: @page_component %>

<br>

<div>
  <%= link_to "Back to page components", page_components_path %>
</div>
